<h2>Listagem e Cadastro</h2>
<div class="AdminGrid">
  <div>
    <mat-card (click)="navigateToPaisList()">
      <mat-card-header>
        <mat-card-title class="mat-card-title">Gerenciar Países</mat-card-title>
      </mat-card-header>
    </mat-card>
    <br />
  </div>
  <div>
    <mat-card (click)="navigateToDesenvolvedoraList()">
      <mat-card-header>
        <mat-card-title class="mat-card-title"
          >Gerenciar Desenvolvedoras</mat-card-title
        >
      </mat-card-header>
    </mat-card>
    <br />
  </div>

  <div>
    <mat-card (click)="navigateToFabricanteList()">
      <mat-card-header>
        <mat-card-title class="mat-card-title"
          >Gerenciar Fabricantes</mat-card-title
        >
      </mat-card-header>
    </mat-card>
    <br />
  </div>

  <div>
    <mat-card (click)="navigateToPlataformaList()">
      <mat-card-header>
        <mat-card-title class="mat-card-title"
          >Gerenciar Plataformas</mat-card-title
        >
      </mat-card-header>
    </mat-card>
    <br />
  </div>

  <div>
    <mat-card (click)="navigateToRequisitoList()">
      <mat-card-header>
        <mat-card-title class="mat-card-title"
          >Gerenciar Requisitos</mat-card-title
        >
      </mat-card-header>
    </mat-card>
    <br />
  </div>

  <div>
    <mat-card (click)="navigateToGeneroList()">
      <mat-card-header>
        <mat-card-title class="mat-card-title">Gerenciar Genero</mat-card-title>
      </mat-card-header>
    </mat-card>
    <br />
  </div>

  <div>
    <mat-card (click)="navigateToMunicipioList()">
      <mat-card-header>
        <mat-card-title class="mat-card-title"
          >Gerenciar Municipio</mat-card-title
        >
      </mat-card-header>
    </mat-card>
    <br />
  </div>

  <div>
    <mat-card (click)="navigateToEstadoList()">
      <mat-card-header>
        <mat-card-title class="mat-card-title">Gerenciar Estado</mat-card-title>
      </mat-card-header>
    </mat-card>
    <br />
  </div>

  <div>
    <mat-card (click)="navigateToJogoList()">
      <mat-card-header>
        <mat-card-title class="mat-card-title">Gerenciar Jogo</mat-card-title>
      </mat-card-header>
    </mat-card>
    <br />
  </div>
</div>
