<mat-toolbar color="padraoHeader">
  <button
    *ngIf="isAdminRoute"
    (click)="clickMenu()"
    mat-icon-button
    class="example-icon"
    aria-label="Example icon-button with menu icon"
  >
    <mat-icon>menu</mat-icon>
  </button>
  <a href="/home">
    <img
      class="logo-loja"
      src="/assets/logoGL.svg"
      alt="Global Logo"
      aria-hidden="true"
    />
  </a>
  <a href="/home" alt="GL Games" style="text-decoration: none"
    ><span>GL Games</span></a
  >
  <span class="example-spacer"></span>
  <button
    routerLink="/carrinho"
    mat-icon-button
    class="demo-section example-icon favorite-icon"
    aria-label="Example icon-button with heart icon"
  >
    <mat-icon
      [matBadge]="qtdItensCarrinho"
      matBadgeColor="warn"
      matBadgePosition="after"
      matBadgeOverlap="false"
      >shopping_cart</mat-icon
    >
  </button>
  <button *ngIf="!usuarioLogado" mat-icon-button routerLink="/login">
    <mat-icon>login</mat-icon>
  </button>
  <ng-container *ngIf="usuarioLogado">
    <button mat-button [matMenuTriggerFor]="menu">
      <span class="usuarioNome">{{ usuarioLogado.nome }}</span>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item [routerLink]="['/usuarios/dados-usuario']">
        <mat-icon>account_circle</mat-icon>
        <span>Editar Perfil</span>
      </button>
      <button mat-menu-item (click)="pedidos()">
        <mat-icon class="material-symbols-outlined">package_2</mat-icon>
        <span>Pedidos</span>
      </button>
      <button *ngIf="usuarioLogado" mat-menu-item (click)="deslogar()">
        <mat-icon>logout</mat-icon>
        <span>Sair da Conta</span>
      </button>
    </mat-menu>
  </ng-container>
</mat-toolbar>
