.mat-toolbar.mat-padraoHeader {
    background-color: rgba(66, 66, 66, 1);
    color: white;
    font-size: 20px;
    font-weight: bold;
    height: 64px;
    padding: 0 16px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
}

.example-spacer {
    flex: 1 1 auto;
    padding: 16px 16px;
    border: none;
    color: white;
    font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
}

.demo-section + .demo-section {
    margin-top: 16px;
}

a {
    text-decoration: none;
    color: white;
    font-size: medium;
}

.usuarioNome {
    color: white;
    font-weight: 500;
    font-size: medium;
}

/* Align menu icons and labels */
.mat-menu-item {
    display: flex;
    align-items: center;
}

.mat-menu-item mat-icon,
.mat-menu-item .material-symbols-outlined {
    margin-right: 8px;
    vertical-align: middle;
    font-size: 24px;
}

.mat-menu-item span {
    vertical-align: middle;
    font-size: 16px;
}
