.content-container {
    padding: 20px; /* Add padding to the container */
    max-width: 1200px; /* Set a maximum width for the container */
    margin: 0 auto; /* Center the container */
}

.cards-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: start; /* Align items from the start */
    gap: 45px; /* Spacing between cards */
}

.card-item {
    flex: 0 0 calc(20% - 45px); /* 25% width for each card minus the gap */
    box-sizing: border-box;
}

mat-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 16px;
}

mat-card img {
    width: 100%;
    height: auto;
    object-fit: cover;
    margin-bottom: 16px;
}

.centered-text {
    text-align: center;
}

