<div class="content-container">
  <div class="cards-section">
    <mat-card *ngFor="let card of cards()" class="card-item">
      <img mat-card-image [src]="card.urlImagem" />

      <mat-card-title class="centered-text"> {{ card.titulo }} </mat-card-title>

      <br />
      <mat-card-content class="centered-text">
        {{ card.preco }}
      </mat-card-content>

      <mat-card-actions class="centered-text" id="mais">
        <button mat-button color="primary">Ver mais</button>
      </mat-card-actions>

      <mat-card-footer>
        <button
          mat-flat-button
          color="accent"
          (click)="adicionarAoCarrinho(card)"
        >
          Adicionar ao carrinho
        </button>
      </mat-card-footer>
    </mat-card>
  </div>
</div>
