.fundoGerenciar {
  display: flex;
  justify-content: center;
  padding: 20px;
}

.gerenciar {
  max-width: 1200px;
  margin: 0 auto;
  border-radius: 20px;
  padding: 20px;
}

.tituloGerenciar {
  color: white;
  text-align: center;
}

.form-container {
  display: flex;
  justify-content: center;
  padding: 20px;

}

mat-card {
  max-width: 1200px;
  width: 100%; /* Limit card width */
  margin: 0 auto; /* Center the card */
  border-radius: 18px; /* Add round edges to the card */
}

.full-width-input {
  margin-bottom: 20px; /* Add space between fields */
  margin-left: 20px;
}

mat-card-actions button {
  width: auto; /* Change button size */
  margin: 10px; /* Create space between buttons */
}

  button{ width: 100%;
    margin-top: 20px;
    color: #fff;
    transition: background 0.3s; }
  
    button:hover{ background: purple; }