<div class="edit-endereco-container">
  <mat-card>
    <mat-card-title>Editar Endereço</mat-card-title>
    <mat-card-content>
      <form [formGroup]="formGroup" (ngSubmit)="onSubmit()">
        <mat-form-field appearance="fill">
          <mat-label>CEP</mat-label>
          <input matInput formControlName="cep" />
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Logradouro</mat-label>
          <input matInput formControlName="logradouro" />
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Número</mat-label>
          <input matInput formControlName="numero" />
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Complemento</mat-label>
          <input matInput formControlName="complemento" />
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Bairro</mat-label>
          <input matInput formControlName="bairro" />
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Cidade</mat-label>
          <input matInput formControlName="nomeCidade" />
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Estado</mat-label>
          <input matInput formControlName="nomeEstado" />
        </mat-form-field>

        <div class="buttons">
          <button mat-raised-button color="primary" type="submit">
            Salvar
          </button>
          <button mat-raised-button color="warn" (click)="cancelar()">
            Cancelar
          </button>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
</div>
