.edit-endereco-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 20px;
  }
  
  mat-card {
    width: 100%;
    max-width: 600px;
  }
  
  mat-form-field {
    width: 100%;
    margin-bottom: 20px;
  }
  
  .buttons {
    display: flex;
    justify-content: space-between;
  }
  