<div class="fundoGerenciar">
  <div class="gerenciar">
    <h1 class="tituloGerenciar">Gerenciar Usuários - Cadastro e Edição</h1>
    <div class="cadastroDiv">
      <button mat-raised-button color="primary" routerLink="/usuarios">
        Lista de Usuários
      </button>
    </div>
  </div>
  <div class="form-container">
    <mat-card>
      <mat-card-content>
        <form [formGroup]="formGroup">
          <mat-form-field appearance="fill" class="full-width-input">
            <mat-label>Nome</mat-label>
            <input matInput type="text" formControlName="nome" />
            <mat-error
              *ngIf="
                formGroup.get('nome')?.errors && formGroup.get('nome')?.touched
              "
            >
              @if (formGroup.get('nome')?.errors?.['required']) {
              <span>O nome deve ser informado.</span>
              } @if (formGroup.get('nome')?.hasError('apiError')) {
              <span>{{ formGroup.get("nome")?.getError("apiError") }}</span>
              }
            </mat-error>
          </mat-form-field>
          <mat-form-field
            id="loginform"
            appearance="fill"
            class="full-width-input"
          >
            <mat-label>Login</mat-label>
            <input matInput type="text" formControlName="login" />
            <mat-error
              *ngIf="
                formGroup.get('login')?.errors &&
                formGroup.get('login')?.touched
              "
            >
              @if (formGroup.get('login')?.errors?.['required']) {
              <span>O login deve ser informado.</span>
              } @if (formGroup.get('login')?.hasError('apiError')) {
              <span>{{ formGroup.get("login")?.getError("apiError") }}</span>
              }
            </mat-error>
          </mat-form-field>
          <mat-form-field
            id="senhaform"
            appearance="fill"
            class="full-width -input"
          >
            <mat-label>Senha</mat-label>
            <input matInput type="password" formControlName="senha" />
            <mat-error
              *ngIf="
                formGroup.get('senha')?.errors &&
                formGroup.get('senha')?.touched
              "
            >
              @if (formGroup.get('senha')?.errors?.['required']) {
              <span>A senha deve ser informada.</span>
              @if(formGroup.get('senha')?.errors?.['minlength']) {
              <span>A senha deve ter no mínimo 8 caracteres.</span>
              } } @if (formGroup.get('senha')?.hasError('apiError')) {
              <span>{{ formGroup.get("senha")?.getError("apiError") }}</span>
              }
            </mat-error>
          </mat-form-field>
          <mat-form-field
            id="emailform"
            appearance="fill"
            class="full-width -input"
          >
            <mat-label>Email</mat-label>
            <input matInput type="email" formControlName="email" />
            <mat-error
              *ngIf="
                formGroup.get('email')?.errors &&
                formGroup.get('email')?.touched
              "
            >
              @if (formGroup.get('email')?.errors?.['required']) {
              <span>O email deve ser informado.</span>
              } @if (formGroup.get('email')?.errors?.['email']) {
              <span>O email deve ser válido.</span>
              } @if (formGroup.get('email')?.hasError('apiError')) {
              <span>{{ formGroup.get("email")?.getError("apiError") }}</span>
              }
            </mat-error>
          </mat-form-field>
          <mat-form-field
            id="perfilform"
            appearance="fill"
            class="full-width -input"
          >
            <mat-label>CPF</mat-label>
            <input matInput type="text" formControlName="cpf" />
            <mat-error
              *ngIf="
                formGroup.get('cpf')?.errors && formGroup.get('cpf')?.touched
              "
            >
              @if (formGroup.get('cpf')?.errors?.['required']) {
              <span>O cpf deve ser informado.</span>
              } @if (formGroup.get('cpf')?.hasError('apiError')) {
              <span>{{ formGroup.get("cpf")?.getError("apiError") }}</span>
              }
            </mat-error>
          </mat-form-field>
          <mat-form-field
            id="perfilform"
            appearance="fill"
            class="full-width -input"
          >
            <mat-label>DDD </mat-label>
            <input matInput type="text" formControlName="ddd" />
            <mat-error
              *ngIf="
                formGroup.get('ddd')?.errors && formGroup.get('ddd')?.touched
              "
            >
              @if(formGroup.get('ddd')?.errors?.['required']) {
              <span>O ddd deve ser informado.</span>
              } @if(formGroup.get('ddd')?.hasError('apiError')) {
              <span>{{ formGroup.get("ddd")?.getError("apiError") }}</span>
              }
            </mat-error>
          </mat-form-field>
          <mat-form-field
            id="perfilform"
            appearance="fill"
            class="full-width -input"
          >
            <mat-label>Telefone</mat-label>
            <input matInput type="text" formControlName="telefone" />
            <mat-error
              *ngIf="
                formGroup.get('telefone')?.errors &&
                formGroup.get('telefone')?.touched
              "
            >
              @if(formGroup.get('telefone')?.errors?.['required']) {
              <span>O telefone deve ser informado.</span>
              } @if(formGroup.get('telefone')?.hasError('apiError')) {
              <span>{{ formGroup.get("telefone")?.getError("apiError") }}</span>
              }
            </mat-error>
          </mat-form-field>
        </form>
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button color="primary" (click)="salvar()">
          Salvar
        </button>
        <button
          mat-raised-button
          *ngIf="formGroup?.get('id')?.value"
          color="warn"
          (click)="excluir()"
          [disabled]="formGroup.invalid"
        >
          Excluir
        </button>
        <button mat-raised-button routerLink="/usuarios">Cancelar</button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
