.pedidos-container {
  padding: 20px;
  color: white;
}

h2 {
  margin-bottom: 20px;
}

.pedido-card {
  background: #424242;
  padding: 20px;
  margin-bottom: 40px; /* Increased margin to ensure separation */
  border-radius: 8px;
  border: 1px solid #555; /* Adds a border to visually separate the cards */
}

.pedido-info {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.games {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 10px;
}

.game-card {
  margin-right: 10px;
  margin-bottom: 10px;
  width: 150px; /* Ensure the width is consistent */
}

.game-card img {
  width: 100%;
  height: auto;
  border-radius: 8px;
  object-fit: cover;
}

.game-card .game-info {
  background-color: rgba(54, 53, 53, 0.8); /* Dark gray background with some transparency */
  color: white;
  width: 100%; /* Same width as the image */
  text-align: center;
  padding: 10px;
  border-radius: 8px;
  box-sizing: border-box;
  margin-top: 5px; /* Space between image and text */
}

.details-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-left: 20px; /* Adds space between games and details */
  margin-right: 500px;
}

.endereco-details,
.pagamento-details {
  margin-bottom: 10px;
}

.endereco-details p,
.pagamento-details p {
  margin: 5px 0; /* Adds space between address lines */
}

.pedido-summary {
  display: flex;
  flex-direction: column;
  justify-content: center; /* Center vertically */
  align-items: flex-end; /* Align to the right */
  margin-top: 190px;
}

.pedido-summary p {
  margin: 0;
}

.pedido-summary button {
  margin-top: 10px;
}

#listaFim {
  margin-bottom: 1px;
  text-align: center;
  color: white;
}
.game-title {
  white-space: nowrap; 
  overflow: hidden; 
  text-overflow: ellipsis;
  text-align: center;
  width: 100%; 
  display: block;
  cursor: pointer; 
}

