.toolbar-title {
    flex: 1;
    text-align: center;
    font-size: small;
}


body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.footer {
    
    left: 0;
    bottom: 0;
    width: 100%;
    margin-top: auto;
    flex-shrink: 0;

  }

#footerControl {
    background-color: rgba(66, 66, 66, 1);
    color: snow;
    font-size: 20px;
    font-weight: bold;

}