<mat-toolbar
  color="padraoHeader"
  fxLayout="row"
  fxLayoutAlign="space-between center"
>
  <a href="/home">
    <img
      class="logo-loja"
      src="/assets/logoGL.svg"
      alt="Global Logo"
      aria-hidden="true"
    />
  </a>
  <div class="actionHeader">
    <a href="/home" id="inicio">Início</a>
    <a href="Sobre" id="sobre">Sobre</a>
    <div>
      <form class="search-form">
        <input type="text" placeholder="Pesquisar" class="search" />
        <button type="button" id="searchButton">
          <mat-icon id="searchIcon">search</mat-icon>
        </button>
      </form>
    </div>
  </div>
  <span class="example-spacer"></span>
  <button
    routerLink="/carrinho"
    mat-icon-button
    class="carrinhoIcon"
    aria-label="Example icon-button with heart icon"
  >
    <mat-icon
      aria-hidden="false"
      aria-label="Carrinho"
      fontIcon="shopping_cart"
    ></mat-icon>
  </button>
  <button
    mat-icon-button
    [matMenuTriggerFor]="menu"
    aria-label="Menu-de-Usuario"
    class="material-symbols-outlined"
  >
    <mat-icon>account_circle</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item routerLink="/login">
      <mat-icon>account_circle</mat-icon>
      <span>Fazer Login</span>
    </button>
  </mat-menu>
</mat-toolbar>
<router-outlet></router-outlet>
