.login-box{
  margin-top: 5%;
  margin-left: 30%;
  margin-right: 30%;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  background-color: rgba(66, 66, 66, 1);
  text-align: center;
}
  .login-card {
    margin: 0 auto;
    padding: 20px; 
  }
  .login-icon mat-icon {
      font-size: 48px; /* Adjust this value to increase or decrease the icon size */
      width: auto; /* Adjust width automatically based on font size */
      height: auto; /* Adjust height automatically based on font size */
      margin: 0 auto 15px;
     display: block;
     color: #fff;
    }
      
  .login-title {
    font-size: 24px;
    margin: 10px 0;
    color: white;
    margin-top: -10px;
  }
  
  .login-input {
    width: 100%;
    margin: 10px 0;
  }
  
  .login-button {
    width: 100%;
    margin-top: 20px;
    color: #fff;
    transition: background 0.3s;
  }
  
  .login-button:hover {
    background: purple;
  }
  

  