.fundoGerenciar{
  width: 800px;
  height: 650px;
  flex-shrink: 0;
  background: #151517;
  align-self: center;
  display: table;
  margin-top: 60px;
  margin-bottom: auto;
  margin-left: auto;
  margin-right: auto;
}
.gerenciar{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.tituloGerenciar {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 200px;
  color: #FFFFFF;
  margin-top: 20px;
  margin-left: 60px;
  
}

.cadastroDiv{
  display: flex;
  align-items: right;
  justify-content: right;
  margin-right: 60px;

}

.table {
  width: 90%;
  margin-left: 40px;
  margin-bottom: 40px
}


.mat-elevation-z8 th, td {
  color: #FFFFFF;
}

.full-width-input {
  width: 100%;
  margin-bottom: 20px;
}