<mat-toolbar color="primary" class="toolbar-title">Cadastro de Jogo</mat-toolbar>
<div class="form-container">
    <mat-card>
        <mat-card-content>
            <form [formGroup]="formGroup">
                <mat-form-field appearance="fill" class="full-width-input">
                    <mat-label>Nome</mat-label>
                    <input matInput type="text" formControlName="nome">
                    <mat-error *ngIf="formGroup.get('nome')?.errors && 
                                        formGroup.get('nome')?.touched">
                    {{getErrorMessage('nome', formGroup.get('nome')?.errors)}}

                    @if(formGroup.get('nome')?.hasError('apiError')){
                        <span>{{formGroup.get('nome')?.getError('apiError')}}</span>
                    }
                </mat-error>
                </mat-form-field>

                <mat-form-field appearance="fill" class="full-width-input">
                    <mat-label>Descrição</mat-label>
                    <input matInput type="text" formControlName="descricao">
                    <mat-error *ngIf="formGroup.get('descricao')?.errors && 
                                        formGroup.get('descricao')?.touched">
                    {{getErrorMessage('descricao', formGroup.get('descricao')?.errors)}}

                    @if(formGroup.get('descricao')?.hasError('apiError')){
                        <span>{{formGroup.get('descricao')?.getError('apiError')}}</span>
                    }
                </mat-error>
                </mat-form-field>
               
                <mat-form-field appearance="fill" class="full-width-input">
                    <mat-label>Preço</mat-label>
                    <input matInput type="number" formControlName="preco">
                    <mat-error *ngIf="formGroup.get('preco')?.errors && 
                                        formGroup.get('preco')?.touched">
                    {{getErrorMessage('preco', formGroup.get('preco')?.errors)}}

                    @if(formGroup.get('preco')?.hasError('apiError')){
                        <span>{{formGroup.get('preco')?.getError('apiError')}}</span>
                    }
                </mat-error>
                </mat-form-field>

                <mat-form-field appearance="fill" class="full-width-input">
                    <mat-label>Estoque</mat-label>
                    <input matInput type="number" formControlName="estoque">
                    <mat-error *ngIf="formGroup.get('estoque')?.errors && 
                                        formGroup.get('estoque')?.touched">
                    {{getErrorMessage('estoque', formGroup.get('estoque')?.errors)}}

                    @if(formGroup.get('estoque')?.hasError('apiError')){
                        <span>{{formGroup.get('estoque')?.getError('apiError')}}</span>
                    }
                </mat-error>
                </mat-form-field>

                <mat-form-field appearance="fill">
                    <mat-label>Genero</mat-label>
                    <mat-select formControlName="estado">
                        @for (genero of generos; track genero.id) {
                            <mat-option [value]="genero">
                                {{genero.nome}}
                            </mat-option>
                        }
                    </mat-select>
                </mat-form-field>

                <mat-form-field appearance="fill">
                    <mat-label>Plataforma</mat-label>
                    <mat-select formControlName="plataforma">
                        @for (plataforma of plataformas; track plataforma.id) {
                            <mat-option [value]="plataforma">
                                {{plataforma.nome}}
                            </mat-option>
                        }
                    </mat-select>
                </mat-form-field>

                <mat-form-field appearance="fill">
                    <mat-label>Desenvolvedora</mat-label>
                    <mat-select formControlName="desenvolvedora">
                        @for (desenvolvedora of desenvolvedoras; track desenvolvedora.id) {
                            <mat-option [value]="desenvolvedora">
                                {{desenvolvedora.nome}}
                            </mat-option>
                        }
                    </mat-select>
                </mat-form-field>

                <mat-form-field appearance="fill">
                    <mat-label>Requisito</mat-label>
                    <mat-select formControlName="requisito">
                        @for (requisito of requisitos; track requisito.id) {
                            <mat-option [value]="requisito">
                                {{requisito.desempenho}}
                            </mat-option>
                        }
                    </mat-select>
                </mat-form-field>
                
                <mat-form-field appearance="fill">
                    <mat-label>Classificação</mat-label>
                    <mat-select formControlName="classificacao">
                        @for (classificacao of classificacoes; track classificacao) {
                            <mat-option [value]="classificacao">
                                {{classificacao}}
                            </mat-option>
                        }
                    </mat-select>
                </mat-form-field>
               
            </form>
        </mat-card-content>
        <mat-card-actions>
            <button mat-raised-button 
                    color="primary" 
                    (click)="salvar()"> 
                Salvar 
            </button>
            <button mat-raised-button 
                    *ngIf="formGroup?.get('id')?.value"
                    color="warn" 
                    (click)="excluir()"
                    [disabled]="formGroup.invalid"> 
                Excluir 
            </button>
            <button mat-raised-button  
                    routerLink="/jogos"> 
                Cancelar 
            </button>

        </mat-card-actions>
    </mat-card>
</div>