<mat-toolbar
  color="padraoHeader"
  fxLayout="row"
  fxLayoutAlign="space-between center"
>
  <a href="/home">
    <img
      class="logo-loja"
      src="/assets/logoGL.svg"
      alt="Global Logo"
      aria-hidden="true"
    />
  </a>
  <section>
    <form>
      <input type="text" placeholer="Pesquisar" /><button
        class="primary"
        type="button"
      >
        Buscar
      </button>
    </form>
  </section>
  <link
    rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"
  />
  <span class="material-symbols-outlined"> account_circle </span>
</mat-toolbar>
<router-outlet></router-outlet>
