/* Estilo para o container do formulário */
h2{
  text-align: center;
  margin-top: 20px;

}
.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
  gap: 30px; /* Adjust the space between the cards */
}

/* Estilo para o mat-card */
.form-card {
  width: 40%; /* Adjust this value to control the card size */
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 20px;
  margin: auto; /* Center the card horizontally */
}

/* Estilo para o grupo de formulário */
.form-group {
  display: flex;
  flex-direction: column; /* Stack form elements vertically */
  align-items: center;
  gap: 10px; /* Espaçamento entre os elementos */
}

/* Estilo para o campo do formulário */
.form-field {
  width: 100%; /* Ensure form fields use the full width of the form-group */
}

/* Estilo para o nome do arquivo */
.file-name {
  margin-left: 10px; /* Espaçamento entre o botão e o nome do arquivo */
}

/* Estilo para o botão de submit */
button[type="submit"] {
  margin-left: 10px; /* Espaçamento entre o nome do arquivo e o botão de submit */
}
button {
  color: #fff;
  transition: background 0.5s;
}

button:hover {
  background: purple;
}