<div class="profile-container">
  <div class="profile-header">
    <div class="profile-picture">
      <span class="picture-placeholder">Foto</span>
    </div>
    <h1 class="welcome-message">Bem-vindo, {{ usuarioLogado?.nome }}</h1>
  </div>
  <div class="profile-content">
    <div class="user-details">
      <h2 class="section-title">Meus Dados</h2>
      <div class="form-container">
        <mat-card>
          <mat-card-content>
            <form [formGroup]="formGroup" class="form-grid">
              <div class="form-field">
                <div class="dados-usuario">
                  <div class="item-dado">
                    <label for="nome">Nome: &nbsp;</label>
                    <input
                      type="text"
                      id="nome"
                      value="{{ usuarioLogado?.nome }}"
                      disabled
                    />
                    <button
                      mat-button
                      [routerLink]="[
                        '/usuarios/edit/',
                        usuarioLogado?.id,
                        'nome'
                      ]"
                    >
                      Editar
                    </button>
                  </div>
                </div>
              </div>
              <div class="form-field">
                <div class="item-dado">
                  <label for="login">Login: &nbsp;</label>
                  <input
                    type="text"
                    id="login"
                    value="{{ usuarioLogado?.login }}"
                    disabled
                  />
                  <button
                    mat-button
                    [routerLink]="[
                      '/usuarios/edit/',
                      usuarioLogado?.id,
                      'login'
                    ]"
                  >
                    Editar
                  </button>
                </div>
              </div>
              <div class="form-field">
                <div class="item-dado">
                  <label for="senha">Senha: &nbsp;</label>
                  <button
                    mat-button
                    [routerLink]="[
                      '/usuarios/edit/',
                      usuarioLogado?.id,
                      'senha'
                    ]"
                  >
                    Editar
                  </button>
                </div>
              </div>
              <div class="form-field">
                <div class="item-dado">
                  <label for="email">Email: &nbsp;</label>
                  <input
                    type="email"
                    id="email"
                    value="{{ usuarioLogado?.email }}"
                    disabled
                  />
                  <button
                    mat-button
                    [routerLink]="[
                      '/usuarios/edit/',
                      usuarioLogado?.id,
                      'email'
                    ]"
                  >
                    Editar
                  </button>
                </div>
              </div>
              <div class="form-field">
                <div class="item-dado">
                  <label for="cpf">CPF: &nbsp;</label>
                  <input
                    type="text"
                    id="cpf"
                    value="{{ usuarioLogado?.cpf }}"
                    disabled
                  />
                  <button
                    mat-button
                    [routerLink]="['/usuarios/edit/', usuarioLogado?.id, 'cpf']"
                  >
                    Editar
                  </button>
                </div>
              </div>
              <div fclass="form-field">
                <div class="item-dado">
                  <label for="dataNascimento">Data de Nascimento: &nbsp;</label>
                  <input
                    type="date"
                    id="dataNascimento"
                    value="{{
                      usuarioLogado?.dataNascimento | date : 'dd/MM/yyyy'
                    }}"
                    disabled
                  />
                  <button
                    mat-button
                    [routerLink]="[
                      '/usuarios/edit/',
                      usuarioLogado?.id,
                      'nome'
                    ]"
                  >
                    Editar
                  </button>
                </div>
              </div>

              <div class="form-field">
                <div class="item-dado">
                  <label>Telefones: &nbsp;</label>
                  <ul>
                    <li *ngFor="let telefone of usuarioLogado?.listaTelefone">
                      {{ telefone.codigoArea }}: {{ telefone.numero }}
                    </li>
                  </ul>
                </div>
              </div>
            </form>
          </mat-card-content>
          <mat-card-actions>
            <button
              mat-raised-button
              color="primary"
              [routerLink]="['/usuarios/edit/', usuarioLogado?.id, 'senha']"
            >
              Alterar Senha
            </button>
          </mat-card-actions>
        </mat-card>
      </div>
    </div>
    <div class="saved-addresses" *ngIf="showAddresses">
      <h2 class="section-title">ENDEREÇOS CADASTRADOS</h2>
      <!-- Placeholder for saved addresses -->
      <div class="address">
        <p>Quadra 1204 sul alameda 16, 38 Qi 06</p>
        <p>CEP: 77019506</p>
        <p>Cidade: Palmas Estado: Tocantins</p>
      </div>
    </div>
  </div>
  <button class="toggle-button" (click)="toggleAddresses()">
    Endereços Salvos
  </button>
  <button class="toggle-button" id="buttonPedido" (click)="toggleAddresses()">
    Meus Pedidos
  </button>
</div>
