<div class="fundoGerenciar">
  <div class="gerenciar">
    <h1 class="tituloGerenciar">Gerenciar Requisitos</h1>
    <div class="cadastroDiv">
      <button mat-raised-button color="primary" routerLink="/requisitos/new">
        Cadastrar Requisito
      </button>
    </div>
  </div>

  <table mat-table [dataSource]="requisitos" class="mat-elevation-z8">

    <!-- Position Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> No. </th>
      <td mat-cell *matCellDef="let element"> {{element.id}} </td>
    </ng-container>

    <!-- Nome Column -->
    <ng-container matColumnDef="processador">
      <th mat-header-cell *matHeaderCellDef> Processador </th>
      <td mat-cell *matCellDef="let element"> {{element.processador}} </td>
    </ng-container>

    <!-- Nome Column -->
    <ng-container matColumnDef="sistemaOperacional">
      <th mat-header-cell *matHeaderCellDef> Sistema Operacional </th>
      <td mat-cell *matCellDef="let element"> {{element.sistemaOperacional}} </td>
    </ng-container>

    <!-- Nome Column -->
    : <ng-container matColumnDef="memoria">
      <th mat-header-cell *matHeaderCellDef> Memoria </th>
      <td mat-cell *matCellDef="let element"> {{element.memoria}} </td>
    </ng-container>

    <!-- Acao Column -->
    <ng-container matColumnDef="acao">
      <th mat-header-cell *matHeaderCellDef> Ação </th>
      <td mat-cell *matCellDef="let element">
        <button mat-icon-button color="primary" routerLink="/requisitos/edit/{{element.id}}">
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-icon-button color="warn"
        (click)="excluir(element)"
        >
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <mat-paginator 
  [pageSizeOptions]="[5, 10, 15, 20]" 
  [pageSize]="pageSize" 
  [length]="totalRecords"
  (page)="paginar($event)">
</mat-paginator>
</div>