<div class="pagamento">
  <div class="order-summary">
    <div class="total">
      <p>Total</p>
      <p>{{ calcularTotal() | currency : "BRL" }}</p>
    </div>
    <div class="pix-option">
      <mat-checkbox [(ngModel)]="pix">Pagar com PIX</mat-checkbox>
    </div>
    <div *ngIf="pix" class="qr-code-container">
      <img [src]="qrCodeUrl" alt="QR Code para pagamento" />

      <button mat-raised-button color="primary" (click)="pedidos()">
        Finalizar Compra
      </button>
    </div>
  </div>
</div>
