<mat-drawer-container class="container">

    <mat-drawer #drawer  mode="side" opened>
        <mat-toolbar>
            <span>Menu</span>
        </mat-toolbar>
        <mat-nav-list>
            <mat-list-item>Home</mat-list-item>
            <mat-list-item routerLink="/admin/estados">Controle de Estado</mat-list-item>
            <mat-list-item routerLink="/admin/municipios">Controle de Municípios</mat-list-item>
            <mat-list-item routerLink="/admin/fabricantes">Controle de Fabricantes</mat-list-item>
            <mat-list-item routerLink="/admin/generos">Controle de Generos</mat-list-item>
            <mat-list-item routerLink="/admin/desenvolvedoras">Controle de Desenvolvedora</mat-list-item>
            <mat-list-item routerLink="/admin/usuarios">Controle de Usuarios</mat-list-item>
            <mat-list-item routerLink="/admin/pais">Controle de País</mat-list-item>
            <mat-list-item routerLink="/admin/plataformas">Controle de Plataforma</mat-list-item>

        </mat-nav-list>
    </mat-drawer>

    <mat-drawer-content>
        <router-outlet></router-outlet>
    </mat-drawer-content>
</mat-drawer-container>